* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.dex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin: 45px auto;
  max-width: 100%;
  min-width: 33%;
  max-height: 100%;
  min-height: 50%;
  text-align: center;
  height: 100%;
  width: 100%;
}

.dex-btn {
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}

.dex-btn:focus {
  outline: none;
}

.dex-btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  outline: none;
}

.dex-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.dex-btn-icon {
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 4px 0 0 4px;
  float: left;
  height: 36px;
  margin-right: 5px;
  width: 36px;
}

.dex-org-logo {
  height: 175px;
  margin: 20px;
  width: 175px;
}

.dex-asama-logo {
  background-color: #FFFFFF;
  background-size: contain;
  background-image: url(../static/img/asama-logo.png);
}

.dex-password-toggle-icon {
  background-image: url(../static/img/password-toggle.png);
  background-size: contain;
}

input[type="checkbox"]:checked + .dex-password-toggle-icon {
    background-image: url('img/show.png'); /* Change to "hide" icon when checked */
}

input[type="checkbox"]:checked ~ .password-input-wrapper {
    -webkit-text-security: none; /* For Safari */
    text-security: none; /* For other browsers */
    -moz-text-security: none; /* For older Firefox versions */
}

.dex-btn-icon--google {
  background-color: #FFFFFF;
  background-image: url(../static/img/google-icon.svg);
}

.dex-btn-icon--local {
  background-color: #84B6EF;
  background-image: url(../static/img/email-icon.svg);
}

.dex-btn-icon--gitea {
  background-color: #F5F5F5;
  background-image: url(../static/img/gitea-icon.svg);
}

.dex-btn-icon--github {
  background-color: #FFFFFF;
  background-image: url(../static/img/github-icon.svg);
}

.dex-btn-icon--gitlab {
  background-color: #F5F5F5;
  background-image: url(../static/img/gitlab-icon.svg);
  background-size: contain;
}

.dex-btn-icon--keystone {
  background-color: #F5F5F5;
  background-image: url(../static/img/keystone-icon.svg);
  background-size: contain;
}

.dex-btn-icon--oidc {
  background-color: #EBEBEE;
  background-image: url(../static/img/oidc-icon.svg);
  background-size: contain;
}

.dex-btn-icon--bitbucket-cloud {
  background-color: #205081;
  background-image: url(../static/img/bitbucket-icon.svg);
}

.dex-btn-icon--atlassian-crowd {
  background-color: #CFDCEA;
  background-image: url(../static/img/atlassian-crowd-icon.svg);
}

.dex-btn-icon--ldap {
  background-color: #84B6EF;
  background-image: url(../static/img/ldap-icon.svg);
}

.dex-btn-icon--saml {
  background-color: #84B6EF;
  background-image: url(../static/img/saml-icon.svg);
}

.dex-btn-icon--linkedin {
  background-image: url(../static/img/linkedin-icon.svg);
  background-size: contain;
}

.dex-btn-icon--microsoft {
  background-image: url(../static/img/microsoft-icon.svg);
}

.dex-btn-text {
  font-size: 15px;
  font-family: sans-serif;
  line-height: 36px;
  padding: 0px 10px;
  text-align: center;
  color: #1A1A1A;
}

.dex-subtle-text {
  font-size: 15px;
  color: #1A1A1A;
}

.dex-separator {
  color: #999;
}

.dex-list {
  display: inline-block;
  font-size: 13px;
  list-style: circle;
  text-align: left;
  color: #1A1A1A;
}

.dex-error-box {
  background-color: #DD1327;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  max-width: 320px;
  padding: 4px 0;
}

.dex-error-box {
  margin: 20px auto;
}

/* Login / password form specific */
.login-button {
  border-radius: 5px;
  background-color: #324f9b;
  color: #fff;
  padding: 11px 70px;
  font: 700 20px/1 Inter, sans-serif;
  border: none;
  cursor: pointer;
  margin-top: 27px;
  width: 100%;
}

.form-label {
  color: #1a1a1a;
  font: 400 18px/1 Inter, sans-serif;
  text-align: left;
  margin-bottom: 10px;
}

.form-input {
  border-width: 0;
  border-radius: 5px;
  background-color: rgba(191, 200, 224, 0.2);
  height: 40px;
  margin-top: 10px;
  width: 100%;
  padding: 8px;
}

.password-input-wrapper {
  position: relative;
  width: 100%;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.forgot-password {
  color: #bfc8e0;
  font: 400 14px/1 Inter, sans-serif;
  margin-top: 10px;
  text-decoration: none;
  text-align: left;
}

.account-text {
  color: #1a1a1a;
  margin-top: 35px;
  margin-bottom: 0;
  font: 400 16px/1 Inter, sans-serif;
}

.founders-link {
  text-decoration: underline;
  color: #324f9b;
}

.clickable-image:hover,
.clickable-logo:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
  transform-origin: center;
  cursor: pointer;
}

.error-message {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.login-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.error-message {
  display: none;
  color: #dc2626;
  background: #fef2f2;
  border: 1px solid #dc2626;
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 14px;
}

.form-input-email {
  margin-bottom: 27px;
}

.form-input-password {
  margin-bottom: 10px;
}

.hidden-checkbox {
  display: none;
}

/* Approval / separators */
.theme-panel-approval {
  padding-top: 125px;
  padding-bottom: 100px;
  width: 500px;
  min-width: 450px;
  height: 500px;
}

.theme-heading-approval {
  margin-bottom: 8px;
  line-height: 0;
  color: #1a1a1a;
}

.separator-row {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  height: 41px;
  flex: 0 0 auto;
}

.separator-line {
  width: 100%;
  height: 1px;
  visibility: visible;
  border-bottom: 1px solid rgba(227, 226, 224, 0.5);
}

.approval-body {
  align-self: flex-start;
  color: #1a1a1a;
}

.dex-subtle-text-approval {
  font-family: Inter, sans-serif;
  line-height: 1;
}

.dex-list-approval {
  margin-bottom: 0;
  font-family: Inter, sans-serif;
}

.full-width {
  width: 100%;
}

.theme-form-row-no-margin-top {
  margin-top: 0;
}

.theme-form-row-no-margin-bottom {
  margin-bottom: 0;
}

.connector-row {
  display: flex;
  grid-gap: 15px;
}

.connector-button-base {
  background-color: #ffffff;
  border-style: solid;
  border-color: #e8e8e8;
  border-radius: 5px;
  border-width: 1px;
}
