{{ template "header.html" . }}

<a href="https://asama.ai" alt="Asama Logo" class="dex-org-logo dex-asama-logo clickable-logo"></a>
<div class="theme-panel theme-panel-approval">
  <h2 class="theme-heading theme-heading-approval">Grant Access</h2>
  <div class="separator-row">
    <div role="separator" class="separator-line"></div>
  </div>
  <div class="approval-body">
    {{ if .Scopes }}
    <div class="dex-subtle-text dex-subtle-text-approval"> Asama.ai would like to:</div>
    <ul class="dex-list dex-list-approval">
      {{ range $scope := .Scopes }}
      <li>{{ $scope }}</li>
      {{ end }}
    </ul>
    {{ else }}
    <div class="dex-subtle-text">Asama.ai has not requested any personal information</div>
    {{ end }}
  </div>
  <div class="separator-row">
    <div role="separator" class="separator-line"></div>
  </div>
  <div class="full-width">
    <div class="theme-form-row theme-form-row-no-margin-top">
      <form method="post" >
        <input type="hidden" name="req" value="{{ .AuthReqID }}"/>
        <input type="hidden" name="approval" value="approve">
        <button type="submit" class="action-button grant-button">
          Grant Access
        </button>
      </form>
    </div>
    <div class="theme-form-row theme-form-row-no-margin-bottom">
        <a href="https://{{ if extra "tenantURL" }}{{ extra "tenantURL" | js }}{{ else }}egp.asama.cloud{{ end }}" >
          <button type="button" class="action-button cancel-button">
          Cancel
        </button>
      </a>
    </div>
  </div>

</div>

{{ template "footer.html" . }}
