{{ template "header.html" . }}
<a href="https://asama.ai" alt="Asama Logo" class="dex-org-logo dex-asama-logo clickable-image"></a>
<div class="theme-panel">
    {{ template "password.html" . }}

    {{ if gt (len .Connectors) 1 }}
      <div class="separator-row">   
	      <div role="separator" class="separator-line"></div>
      </div>
    {{ end }}

    {{ $connectorCount := len .Connectors }}
        <div class="grid grid-cols-2 connector-row">
            {{ range $index, $c := .Connectors }}
                {{ if ne $c.Type "local" }}
                    {{ $isLast := eq (add $index 1) $connectorCount }}
                    <a 
                        href="{{ $c.URL }}" 
                        class="{{ if and (lt $connectorCount 3) }}col-span-1{{ else }}{{ if $isLast }}col-span-2 flex justify-center{{ else }}col-span-1{{ end }}{{ end }}"
                        target="_self"
                    >
                        <button class="
                            w-full
                            flex items-center justify-center 
                            py-2 rounded-md 
                            transition duration-300
			    m-2.5px
                            {{ if eq $c.Type "github" }}text-white hover:bg-gray-900{{ end }}
                            {{ if eq $c.Type "google" }}text-white hover:bg-red-600{{ end }}
                            {{ if eq $c.Type "microsoft" }}text-white hover:bg-blue-700{{ end }}
                            connector-button-base
                        ">
                            <span class="dex-btn-icon dex-btn-icon--{{ $c.Type }}"></span>
                            <span class="dex-btn-text">Log in with {{ $c.Name }}</span>
                        </button>
                    </a>
                {{ end }}
            {{ end }}
        </div>
	<p class="account-text">
          Don't have an account?
          <a href="https://www.asama.ai/" class="founders-link">Talk to Asama's co-founders</a>
        </p>
  </div>
</div>

{{ template "footer.html" . }}

