<form id="local-login" method="post" data-tenant-url="{{ if extra "tenantURL" }}{{ extra "tenantURL" }}{{ else }}egp.asama.cloud{{ end }}">
    <!-- Error message container -->
    <div id="error-message" class="error-message">
    </div>

    <!-- Hidden fields for Dex state management -->
    <input type="hidden" name="client_id" value="">
    <input type="hidden" name="redirect_uri" value="">
    <input type="hidden" name="state" value="">
    <input type="hidden" name="response_type" value="">
    <input type="hidden" name="scope" value="">
    <input type="hidden" name="connector_id" value="">
    <label for="email" class="form-label">Email address</label>
    <input type="email" id="email" name="login" class="form-input form-input-email" required aria-label="Email address"/>
    <label for="password" class="form-label">Password</label>
    <div class="password-input-wrapper">
        <input type="password" id="password" name="password" class="form-input form-input-password" required aria-label="Password"/>
        <label>
            <input type="checkbox" id="togglePassword" class="hidden-checkbox">
            <span alt="Toggle password visibility" class="password-toggle dex-password-toggle-icon" role="button" tabindex="0"></span>
        </label>
    </div>
    <a href="#" class="forgot-password">Forgot password?</a>
    <button id="submit-login" type="submit" class="login-button">Log In</button>
</form>
